@use "../../assets/scss/variables.scss";
@use "../../assets/scss/mixins.scss";

.layout__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$general-background-color_marine;

  &__content__container {
    background-color: variables.$general-background-color_marine;
    margin: 0 auto;
    height: 100%;
    width: variables.$general-content-width;
  }
}