@use '../../assets/scss/variables.scss' as variables;
@use '../../assets/scss/mixins.scss' as mixins;

.error {
  
  position: absolute;
  font-size: 10px;
  top: 50px;
  left: 0px;
  color: rgb(255, 0, 0);
}

.input {
  &Container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &Label {
    text-align: start;
    font-size: 16px;
    font-weight: 500;
  }


  &Item {
    width: 100%;
    box-sizing: border-box;
    color: variables.$basic-decore-color_marine;
    background-color: variables.$button-color_default_marine;
    @include mixins.font(variables.$main-font-family, variables.$tiny-font-size, variables.$main-font-weight, variables.$basic-decore-color_marine);
    margin-bottom: 10px;
    padding: 0px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
    &::placeholder {
      color: variables.$general-background-color_marine;
    }

    &:focus {
      border: 3px solid variables.$button-color_active_marine;
    }
  }
  
  
    &:last-child {
      margin-bottom: 50;
    }
  
    &:hover {
      box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
    }
  
  }

