@mixin flex($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}



@mixin grid($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}



@mixin font($font-family, $font-size, $font-weight, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}
