@use '../../assets/scss/variables.scss' as variables;
@use '../../assets/scss/mixins.scss' as mixins;

.auth {
  background-color: variables.$general-background-color_marine;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  // width: variables.$general-content-width;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;

  &__SignInEmailButton,
  &__LogInInEmailButton,
  &__GoogleButton {
    background-color: variables.$button-color_default_marine;
    color: variables.$basic-text-color_marine;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    @include mixins.font(variables.$main-font-family, variables.$tiny-font-size, variables.$main-font-weight, variables.$basic-text-color);

    transition: all 0.3s ease-in-out;
    & svg {
      fill: variables.$basic-text-color_marine;
      height: 100%;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-color: variables.$button-color_hover_marine;
      box-shadow: 0px 4px 4px variables.$shadow-color_marine;
      color: variables.$headers1-text-color_marine;
      & svg {
        fill: variables.$headers1-text-color_marine;
      }
    }
  }
}

.tempMess {
  color: red;
  font-weight: 900;
  position: fixed;
  inset: 0;                // top:0 right:0 bottom:0 left:0
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;  
}
