@import "../../app/variables.scss";

.error {
  
  position: absolute;
  font-size: 10px;
  top: 45px;
  left: 80px;
  color: rgb(255, 0, 0);
}

.input {
  &Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &Label {
    margin: 0 auto;
    color: $main;
    text-align: start;
    width: 50%;
    font-size: 16px;
    font-weight: 500;
  }


  &Item {
    font-family: "Poppins", sans-serif;
    box-sizing: content-box;
    width: 80%;
    margin: 0px auto 10px;
    background-color: $mainGray;
    color: $main;
    border: none;
    outline: none;
    box-shadow: none;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
  
  
    &::placeholder {
      color: $main;
      font-weight: 300;
    }
  
    &:last-child {
      margin-bottom: 50;
    }
  
    &:hover {
      box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
    }
  
  }
}
