//-------------------colors-------------------
// $mainGradient: linear-gradient(90deg, rgba(163,163,163,1) 0%, rgba(142,142,142,1) 53%, rgba(128,128,128,1) 100%);
$mainGradient: #8c8c8c;
$mainBackground: #afafaf7c;
$mainGray: #8c8c8c;
$main: #00034b;
$lightGray: #b5b5b5;

$white: #ffffff;


//-------------------sizes-------------------

$contentWidth: 1280px;