@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.container {
  flex-shrink: 0;
  background-color: $general-background-color_marine;
}

.header {
  width: $general-content-width;
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 10px;
  margin: 0 auto;

  h1 {
    @include font($header-font-family,
      $headers1-font-size,
      $bold-font-weight,
      $basic-text-color );
  }

  &__content {
    display: flex;
    flex-direction: row;

    &__navContainer{
      
    }

    &__navLink {}

    &__avatar {
      // aspect-ratio: 1:1;
      height: 20px;
      border-radius: 50%;
    }
  }
}