@use '../../assets/scss/variables.scss';
@use '../../assets/scss/mixins.scss';

.container {
  flex-shrink: 0;
  background-color: variables.$general-background-color_marine;
}

.header {
  max-width: variables.$general-content-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: variables.$header_footer--height;
  padding: 10px;
  margin: 0 auto;

  h1 {
    @include mixins.font(variables.$header-font-family,
      variables.$headers1-font-size,
      variables.$bold-font-weight,
      variables.$basic-text-color );
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
    &__navContainer {
      display: flex;
      gap: 5px;
      margin-right: 10px;
      padding-right: 10px;
      justify-content: center;
      align-items: center;
      height: 50px;
      
      border-right: 2px solid variables.$basic-decore-color-svg_marine;

    }

    &__navContainer {}

    &__navLink {}

    &__avatar {
      aspect-ratio: 1 / 1;
      height: 50px;
      border-radius: 50%;
    }
  }
}