@use "../../assets/scss/mixins.scss";
@use "../../assets/scss/variables.scss";

.container {
  flex-shrink: 0;
  background: variables.$general-background-color_marine;
}

.footer {
  display: flex;
  height: variables.$header_footer--height;
  align-items: end;
  justify-content: center;
  box-sizing: border-box;

  max-width: variables.$general-content-width;
  margin: 0 auto;
  background: variables.$general-background-color_marine;

  &Title {
    @include mixins.font(
      variables.$main-font-family,
      variables.$large-font-size,
      variables.$third-font-weight,
      variables.$basic-text-color_marine
    );
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height: 50px;
  }
}
