@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.container {
  flex-shrink: 0;
  background: $general-background-color_marine;
}

.footer {
  display: flex;
  height: 70px;
  align-items: end;
  justify-content: center;
  box-sizing: border-box;

  max-width: $general-content-width;
  margin: 0 auto;
  background: $general-background-color_marine;

  &Title {
    @include font(
      $secondary-font-family,
      $main-font-size,
      $secondary-font-weight,
      $basic-text-color_marine
    );
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height: 50px;
  }
}
