@use '../../assets/scss/mixins.scss';
@use '../../assets/scss/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  &Title {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
  }

  &Button {
    // width: 80%;
    box-sizing: border-box;
    margin: 10px 0 20px;
    background-color: variables.$button-color_default_marine;
    color: variables.$general-background-color_marine;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: all 0.3s;
    &:hover {
      background-color: variables.$button-color_hover_marine;
      color: variables.$general-background-color_marine;
      box-shadow: variables.$button-color_default_marine 0px 4px 15px;
    }
  }
}
